@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=Righteous');

@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Audiowide|Bungee+Inline|Graduate|Monoton|Orbitron:400,900|Prosto+One|Special+Elite');

@import './colors.scss';

html,
body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 22px;
  box-sizing: border-box;
}

.index-page {
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: rgb(171, 171, 171);
}

h1 {
  //   font-family: 'Righteous', cursive;
  // font-family: 'Orbitron', sans-serif;
  font-family: 'Audiowide', cursive;
  // font-family: 'Special Elite', cursive;
  // font-family: 'Prosto One', cursive;
  // font-family: 'Allerta Stencil', sans-serif;
  // font-family: 'Graduate', cursive;

  letter-spacing: 3px;
  text-transform: uppercase;
  color: $white;
  &:after {
    content: '';
    width: 150px;
    background-color: $blue;
    height: 3px;
    display: block;
    margin-top: 20px;
  }
}

h3 {
  //   font-family: 'Righteous', cursive;
  // font-family: 'Orbitron', sans-serif;
  font-family: 'Audiowide', cursive;
  // font-family: 'Special Elite', cursive;
  // font-family: 'Prosto One', cursive;
  // font-family: 'Allerta Stencil', sans-serif;
  // font-family: 'Graduate', cursive;

  letter-spacing: 1px;
  text-transform: uppercase;
  &:after {
    content: '';
    width: 100px;
    background-color: $blue;
    height: 3px;
    display: block;
    margin-top: 15px;
  }
}

@media (max-width: 640px) {
  .container {
    // padding: 20px;
  }
}
