.about-page {
  background: linear-gradient(
    to right,
    rgba(15, 15, 15, 0.951),
    rgba(34, 34, 34, 0.889)
  );
  position: relative;
  height: 100%;
  // border: 1px solid green;
  .about-top {
    display: flex;
    // max-width: 1140px;
  }

  .big-image {
    flex: 2;

    // background-image: url('../../images/matt-header2.jpg');
    // width: 1000px;
    // position: relative;
    // top: 0;
    // left: 0;
    top: -60px;
    // height: 1000px;
    // width: 680px;
    // align-items: center;
    // border: 1px solid red;
    img {
      border: 1px solide yellow;
      // width: 100%;
      height: 1000px;
      top: -50px;
      position: absolute;
      // left: 0;
    }
  }
  .about-content {
    flex: 3;
    color: whitesmoke;
    padding: 50px;
    z-index: 3;
  }
  .about-video {
    display: flex;
    flex: 1;
    // justify-content: space-around;
    iframe {
      border: none;
    }
    img {
      margin: 10px;
      width: 300px;
      height: 100%;
    }
  }

  .about-images {
    display: flex;
    margin: 100px;
    justify-content: space-around;
    height: 450px;
    img {
      height: 80%;
      padding: 10px;
      // width: 50%;
    }
  }
}
