@import '../../styles/colors.scss';

.navigation {
  // display: flex;
  // justify-self: flex-end;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 650px;
  text-transform: uppercase;

  ul {
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  li {
    padding: 15px;
    list-style: none;
    transition: color 0.2s;
    // white-space: nowrap;
    &:hover {
      color: $blue;
    }
  }
}

@media (max-width: 740px) {
  .navigation {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    width: auto;
    ul {
      flex-direction: column;
      align-items: center;
      // height: 95vh;
      background: grey;
    }
  }
}
