@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '../../styles/colors.scss';

/* --------- DOTS --------- */
/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 10px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: pink;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;
  border: 2px solid rgb(140, 140, 140);
  border-radius: 50%;
  background: transparent;
  content: '';
  text-align: center;

  opacity: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  background: $blue;
  border: 1px solid rgb(9, 83, 144);
}

.slick-initialized .slick-slide {
  display: flex;
  justify-items: center;
}

/* Arrows */
.slick-prev:before,
.slick-next:before {
  color: unset;
  display: none;
}

/* --------Elements------------ */
.testimonies-section {
  background: rgba(55, 52, 52, 0.889);
  text-align: center;

  h1 {
    display: inline-block;
    padding-top: 100px;
    &:after {
      margin: 30px auto;
    }
    // text-align: center;
  }
}
.quote-mark {
  color: $blue;
  font-size: 6em;
  line-height: 0;
  padding-top: 70px;
}
.testimonies-title {
  h1 {
    padding-top: 5px;
  }
}

.testimonies-container {
  padding-bottom: 100px;
  margin: 0 auto;
  width: 750px;
}

.testimony {
  display: flex;
  letter-spacing: 0.3px;
  color: $white;
  padding: 30px;
  padding-top: 0px;
  &-img {
    flex: 1;
    margin: 0 auto 20px;
    height: 150px;
    width: 150px;
    img {
      border-radius: 3px;
      height: 100%;
      width: 100%;
    }
  }
  &-desc {
    flex: 9;
  }
  &-author {
    p {
      font-size: 0.7em;
    }
  }
}

@media (max-width: 860px) {
  .testimonies-container {
    width: 80%;
  }
}

@media (max-width: 530px) {
  .testimonies-container {
    width: 90%;
  }
}

@media (max-width: 415px) {
  .testimonies-container {
    width: 100%;
  }
}
