.main-header {
  background: url('../../images/matt-header3.jpg') no-repeat center center;
  background-size: cover;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  .titles {
    // margin: 0 auto;
  }
}
