@import '../../styles/colors.scss';

.contact-page {
  background: linear-gradient(
    -225deg,
    rgba(24, 24, 24, 0.4),
    rgba(52, 79, 159, 0.312)
  );
  height: 100%;
  padding: 100px;
}

.contact-box,
.contact-box-info div {
  border: 1px solid grey;
  // padding: 20px;
}

.contact-box {
  display: flex;
}

.contact-box-form {
  flex: 2;
  form {
    width: 80%;
    padding: 40px 0 0 40px;
  }
  .form-row1 {
    display: flex;
    justify-content: space-between;
  }
  .blue-button-form {
    float: right;
  }
  input,
  textarea {
    color: $white;
    padding: 0 5px;
  }
  input {
    // margin: 0 5px 5px 0;
    background: transparent;
    border: 1px solid grey;
    height: 45px;
    flex: 1;
  }
  input[name='email'] {
    margin: 0 0 20px 0;
  }
  input[name='name'] {
    margin: 0 20px 20px 0;
  }
  textarea[name='message'] {
    background: transparent;
    display: block;
    width: 100%;
    height: 150px;
    // margin: 5px;
  }
}

.contact-box-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  div {
    padding: 20px 10px 0 20px;
    letter-spacing: 1px;
    flex: 1;
  }
  p {
    margin: 0;
  }
  ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
}

@media (max-width: 1130px) {
  .contact-box-form {
    form {
      width: 95%;
      padding: 40px 0 10px 40px;
    }
    .form-row1 {
      flex-direction: column;
    }
    input[name='email'] {
      margin: 5px 0;
    }
    input[name='name'] {
      margin: 0;
    }
    .blue-button-form {
      margin-top: 10px;
    }
  }
}

@media (max-width: 880px) {
  .contact-box {
    flex-direction: column;
  }
  .contact-box-info {
    flex-direction: row;
  }
}

@media (max-width: 750px) {
  .contact-page {
    padding: 100px 50px;
  }
  .contact-box-form {
    form {
      width: 100%;
      padding: 20px;
    }
  }
  .contact-box-info {
    flex-direction: column;
    div {
      h4 {
        margin: 0;
        margin-right: 40px;
      }
      display: flex;
      padding: 15px 10px;
      align-items: center;
    }
    li {
      margin: 0;
    }
  }
}

@media (max-width: 480px) {
  .contact-page {
    padding: 100px 0px;
  }
}

@media (max-width: 380px) {
  .contact-box-info {
    div {
      flex-flow: row wrap;
      h4 {
        margin-right: 20px;
        font-size: 1rem;
      }
    }
  }
}
